@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

* {
    font-family: sans-serif;
    letter-spacing: .0938rem;
}

main {
    display: grid;
    min-height: calc(100vh - 3rem);
    place-items: center;
}

.container {
    text-align: center;
}

.subtitulo {
    background-color: #222;
    border-radius: 0.25rem;
    color: #fff;

    padding: 1rem;
    margin-bottom: 2.5rem;
}

.color {
    color: hsl(205, 78%, 60%);
}

.btn-hero {
    background: transparent;
    border: 2px solid #222;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
    cursor: pointer;
    
    display: inline-block;
    
    color: #222;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .0938rem;
    text-transform: uppercase;

    padding: 0.75rem 1.25rem;

    transition: all 0.3s linear;
}

.btn-hero:hover {
    color: #fff;
    background-color: #222;
}